
.messages {
    text-align: left;
    border: gold solid 2px;
    border-radius: 1vw;
    height: 100%;
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    /*justify-content: space-around;*/
    /*justify-items: stretch;*/
    /*grid-template-areas: "n c";*/

    .message {
        color: black;

    }
}
.myMessege {
    display: grid;
    background-color: gold;
    width: 15%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.freandMessege{
    display: grid;
    justify-content: end;
    justify-self: right;
    width: 15%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: mediumslateblue;
}