
.dialogsItems {
    display: grid;
    border: solid 2px blanchedalmond;
    border-radius: 5%;


    .dialog {
        text-align: center;
        color: black;
        font-size: 17px;
        margin: 2vw 0vw;
        font-size: 18px;
        a {
            color: black;
        }
    }
}
